
#enemy-info{
    padding: 30px;

}

#attack {
    position:absolute;
     right: 200;
     bottom: 400px;
    font-size: larger;
    font-weight: bolder;
}

#list-enemy {
    color: white;
    position:relative;
     left:500px; 
     
}


.player-stats {
    position:absolute;
     left:300px; 
     top: 200px;
    color:white;
}

/* #gameover{
   background-color: rgb(0, 0, 0);
    border: 15px solid rgb(116, 39, 39);
    padding: 50px;
    margin: 20px;
} */