/* add home page styles here */
/* .top-right {
    position:absolute;
    top:0;
    right:0;
} */
#enemy-info{
    padding: 30px;

}

#attack {
    position:absolute;
     right: 200;
     bottom: 400px;
    font-size: larger;
    font-weight: bolder;
}

#list-enemy {
    color: white;
    position:relative;
     left:500px; 
     
}

.player {
    position:absolute;
     left:500px; 
     top: 200px;
}